@model Helpdesk.Mvc.Models.Organization
@{
	ViewData["Title"] = "Product";
	Layout = "_LayoutAdminlteV3";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">@ViewData["Title"]</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">

					<input type="hidden" asp-for="@Model.organizationId" />
					<div class="table-responsive">
						<table id="grid" name="grid" class="table">
							<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col"></th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- /.card-body -->
				<div class="card-footer">
					@DateTime.Now.ToShortDateString() - @DateTime.Now.ToLongTimeString()
				</div>
				<!-- /.card-footer-->
			</div>
			<!-- /.card -->
		</div>
	</div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- /.content -->
<!--modal placeholder-->
<div class="modal fade modal-primary" id="modalDefault">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">

		</div>
	</div>
</div>


@section Scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
	<script src="~/js/views/product/index.js"></script>
}

