<a href="@Url.Action(Helpdesk.Mvc.MVC.Pages.ConfigIndex.Action, Helpdesk.Mvc.MVC.Pages.ConfigIndex.Controller)" class="brand-link">
        <img src="~/admin-lte/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Dotnet</b>Desk</span>
</a>
