@using Microsoft.AspNetCore.Identity
@using Helpdesk.Mvc.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
        ApplicationUser appUser = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                        <img src="../@appUser.ProfilePictureUrl" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                        <a href="#" class="d-block">@appUser.FullName</a>
                        <a href="#">
                                <i class="fa fa-circle text-success"></i>
                                @if (appUser.IsSuperAdmin)
                                {
                                        <span>Online as Super Admin</span>

                                }
                                else if (appUser.IsCustomer)
                                {
                                        <span>Online as Customer Contact</span>

                                }
                                else if (appUser.IsSupportAgent)
                                {
                                        <span>Online as Support Agent</span>

                                }
                                else if (appUser.IsSupportEngineer)
                                {
                                        <span>Online as Support Engineer</span>

                                }
                        </a>
                </div>
        </div>
}